{% extends 'base.html' %}
{% from 'macros.html' import render_field %}
{% block page_title %}Changer le mot de passe{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header"><h5 class="mb-0"><i class="bi bi-key me-2"></i>Modifier mon mot de passe</h5></div>
            <div class="card-body">
                <form method="post" novalidate>
                    {{ form.hidden_tag() }}
                    {{ render_field(form.current_password) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.password2) }}
                    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
                    <a href="{{ url_for('auth.profile') }}" class="btn btn-light">Annuler</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
